$primary: rgb(9, 157, 216);
$second: rgb(5, 65, 88);
$line: rgba(255, 255, 255, 0.315);
*, ::before,::after{
    box-sizing: border-box;
}

body{
    padding: 1em;
    font-family: montserrat;
    background: $primary;
    margin:2em 12px ;
    border-radius: 2px;
    // border: 1px solid rgb(95, 13, 13);
    box-shadow: .5em 0 1.7em;
    & .delete{
        margin-top: 1em;
        border-top: 2px solid $line;
        border-bottom: 2px solid $line;
        padding: 1em;
    }
}
.auth{
    margin-top: 1em;
    
    border-top: 2px solid $line;
    padding: 1em;
    & .createUser{
        border-radius: 1em;
        margin: 1em auto;
        padding: 2em;
        background: $second;
        color: whitesmoke;
        border-bottom: 2px solid $line;
        // box-shadow: 0 0 px;
        
    }
    .logout{
        margin: 0 auto;
        text-align: center;
    }
    & .login{
        border-radius: 1em;
        margin: 1em auto;
        padding: 2em;
        background: $second;
        color: whitesmoke;
        // box-shadow: 0 0 9px;
}
}